// colors

$color-1: #4C535D;
$color-2: #01AEC3;
$color-3: #f1f1f1; // White
$color-4: #007489;
$color-grey: #f1f1f1;
$color-blue-grey: #F5F9F9;
$color-blue: #106db4;
//label colors
$color-high: #ed5565;
$color-low: #98c975;
$color-normal: #FFA92E;

$color-label: #FFEEBC;
$color-fill: #FFFAEE;


// fonts 

$primary-font: 'Jaldi', sans-serif;

// this variable modifies the size of all items

$item-padding-S: 5px;
$item-padding-M: 10px;
$input-height: 30px;
$border-radius: 2px;
//footer
$footer-height: 50px;